* {
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  color: #1c1c1c;
}

.mainLogo {
  height: 50px;
  width: 40%;
}

ion-icon {
  color: #6fbdff;
}
